.nav {
  li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #f8f8f8;
  }

  a {
    color: #000;
    text-decoration:none;
  }

  li.active {
    color: #3d70b2;
    border-bottom: 2px solid #3d70b2;
  }

  li.active a {
    color:#3d70b2;
  }
}