.nav {

  width: 100%;
  border-bottom: 1px solid #dfe3e6;
  
  li {
    list-style-type: none;
    float: left;
    margin-right: 30px;
    padding: 20px;
    cursor: pointer;
  }

  a {
    color: #000;
    font-size: 18px;
    text-decoration:none;
  }

  li.active {
    color: #d0021b;
    border-bottom: 2px solid #d0021b;
  }

  li.active a {
    color:#d0021b;
  }
}

input[type='text'], input[type='password'], input[type='number'], input[type='email'] {
  width: 225px;
  height: 40px;
  background-color: rgba(61, 112, 178, 0.1);
  border: 0;
  padding: 0 10px;
  color: #222;
  font-size: 14px;
  &:focus {
    outline: 0;
  }
   &.large {
    width: 100%;
  }
}

input[type='file'] {
  //display: none;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

textarea {
  background-color: rgba(61, 112, 178, 0.1);
}

input[type='date'] {
  width: 225px;
  height: 40px;
  background-color: rgba(61, 112, 178, 0.1);
  border: 0;
  padding: 10px 10px 10px 30px;
  color: #222;
  font-size: 14px;
  &:focus {
    outline: 0;
  }
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  //background: transparent;
  cursor: pointer;
}

input.error {
  border: 1px solid #d0021b;
}

label {
  display: block;
  font-weight: 300;
  color: #6B7891;
  font-size: 14px;
  margin-bottom: 6px;
}

textarea {
  width: 50%;
  max-height: 640px;
  border: 0;
  padding: 10px 10px;
  height: 150px;
  max-height: 150px;
  color: #222;
  font-size: 14px;
  background-color: rgba(128, 128, 128, 0.1);
}

textarea:focus {
  outline: 0;
}


.form-group:not(:last-child) {
  margin-bottom: 20px;
}

.form-group button:not(:last-child) {
  margin-right: 20px;
}

.form-group .__error {
  color: #e71d32;
  font-size: 12px;
  margin-top: 5px;
}

.tooltip-text {
  display: none;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
  background-color: #fff;
  top: 30px;
  left: -93px;
  position: absolute;
  width: 200px;
  max-width: 200px;
  padding: 10px 15px;
  z-index: 1;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.29;
  letter-spacing: normal;
  color: #152934;
}

.info:hover .tooltip-text {
  display: block;
  //margin: 0 auto;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 95px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}
