.card-container {
  width: 50%;
  background: #fff;
  padding: 20px 30px;
    
  .item {
    word-wrap: break-word;
  }

  .value {
    color: #152935;
    font-size: 14px;
  }

  .label {
    font-size: 13px;
    color: #4a90e2;
  }
  
  .item:not(:first-child) {
    margin-top: 26px;
  }
}