.card-container {
  //background: #fff;
  padding: 20px 30px 20px 30px;
  width: 100%;
  
  // h3 {
  //   font-size: 18px;
  // }

  .row {
    display: flex;
    margin-top: 20px;
    .column {
        width: 50%;
    }
  }

  .item {
    word-wrap: break-word;
  }

  .value {
    color: #152935;
    font-size: 14px;
  }

  .link {
    color: #000;
    text-decoration: underline;
    cursor: pointer;
  }

  .label {
    font-size: 13px;
    color: #4a90e2;
  }
  
  .item:not(:first-child) {
    margin-top: 26px;
  }
}