#reports {
  .form-wrapper {
    background: #dfe3e6;
    max-width: 700px;
    padding: 30px 25px;

    .select--container {
      // width: 100%;
      // .large {
      //   width: 100%;
      // }
      // .small {
      //   width: 225px;
      // }
    }

    span {
      font-size: 14px;
    }

    .timerange-wrapper {
      width: 225px;
    }

    .label {
      span {
        color: #d0021b;
      }
    }

    .file-type {
      display: flex;
      align-items: center;

      input, label {
        margin-right: 10px;
      }

      .circle {
        margin-right: 10px; 
        display: inline-block;
        vertical-align: middle; 
        cursor: pointer;
      }

      .value {
        //width: calc(100% - 24px); 
        display: inline-block;
        cursor: pointer;
        margin-right: 20px;
      }
    }
  }

  input, select {
    background: white;
    //width: 100%;
  }
  
  .calendar-icon {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    width: 20px;
    height: 38px;
    position: absolute;
    left : 10px;
    top: 35px;
  }

  input {
    width: 400px;
    &.small {
      width: 225px !important;
    }
  }

  select option:hover {
    background: #d0021b;
  }

  .error-message {
    margin-top: 5px;
    color: #d0021b;
  }

  .row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
}