#AddCredits {
  h5 {
    font-size: 16px;
    margin: 20px 0;
  }

  .bank-account-container {
    padding: 20px 30px;
    border-bottom: 1px solid #dfe3e6;
    .bank-details {
      box-shadow: 6px 6px 6px 0 rgba(0, 0, 0, 0.1);
      border: solid 1px #dfe3e6;
      background-color: #ffffff;
      padding: 10px 20px 30px 20px;
      border-radius: 10px;
      border-bottom: 1px solid #dfe3e6;
      width: 280px;
      h5 {
        font-size: 16px;
        font-weight: 600;
      }
    
      p {
        font-size: 16px;
        line-height: 21px;
      }
    }
  }

  .upload-section {
    padding: 20px 30px;

    h2 {
      margin-bottom: 20px;
    }

    label {
      font-size: 16px;
      font-weight: normal;
      color: #152935;

      span {
        color: #d0021b;
      }
    }

    .note {
      font-size: 14px;
      line-height: 1.29;
      color: #5f5f6e;
    }

    .form-input {
      margin-bottom: 25px;
    }

    .input-group {
      display: flex;
      margin-bottom: 6px;
    }
    .upload-icon {
      left: 0px;
      position: absolute;
      cursor: pointer;
      svg {
        width: 30px;
        height: 40px;
        cursor: pointer;
      }
    }

    .fileUpload {
      position: relative;
      overflow: hidden;
    }

    .fileUpload input.upload {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      //filter: alpha(opacity=0);
    }
  }
}