.side-menu {
  position: fixed;
  top: 74px;
  left: 0;
  width: 250px;
  height: calc(100vh - 74px);
  background: #152935;
  box-shadow: 0px 0px 4px 1px rgba(21, 19, 19, 0.9);
  .side-menu__item {
    width: 100%;
    background-color: #152935;
    a {
      font-size: 14px;
      font-weight: 400;
      font-family: 'Montserrat', sans-serif;
      display: block;
      padding: 20px 20px;
      width: 100%;
      text-decoration: none;
      color: #fff;
      span {
        display: inline-block;
        width: 40px;
      }
    }
    &.active, &:hover {
      background-color: #2c4555;
      a {
        color: #fff;
      }
    }
  }
}
